hypervisor/build/
hypervisor/bsp/uefi/include/bsp/version.h
hypervisor/bsp/sbl/include/bsp/version.h
devicemodel/build/
devicemodel/include/version.h
doc/doxygen
doc/_build
build
*.bak
*.sav
*.log
*.warnings
