# CODEOWNERS for autoreview assigning in github

# File pattern follows the same rules used in .gitignore files,
# Note: doc/ means files in any folder named doc, and its subfolders
# while doc/* means files in any folder named doc, but not its subfolders.
#
# Ordering is important: the last matching pattern takes precedence.
# Put global owners at the top, and detailed reviewers later
#
# Additional reviewers can be assigned manually

# Default/global reviewers (if not overridden later)
*                                        @anthonyzxu @dongyaozu

/hypervisor/                             @anthonyzxu @dongyaozu
/devicemodel/                            @anthonyzxu @ywan170
/doc/                                    @dbkinder @deb-intel @NanlinXie
/misc/tools/acrn-crashlog                @chengangc @dizhang417 
/misc/tools/acrnlog                      @lyan3
/misc/tools/acrntrace                    @lyan3
/misc/acrn-manager                       @lyan3
/misc/acrnbridge                         @lyan3
/misc/acrn-config                        @binbinwu1
/misc/Makefile                           @binbinwu1
/misc/efi-stub                           @jren1

*.rst                                    @dbkinder @deb-intel @NanlinXie
