[Unit]
Description=ACRN crashlog probe
Requires=telemd.socket
Requires=usercrash_s
After=usercrash.service
After=prepare.service

[Service]
Type=simple
ExecStart=/usr/bin/acrnprobe
ExecStop=/usr/bin/killall -s TERM acrnprobe

[Install]
WantedBy=multi-user.target
