[Unit]
Description=ACRN manager deamon
After=weston.service
After=systemd-resolved.service
ConditionPathExists=/sys/kernel/gvt
ConditionPathExists=/dev/acrn_vhm

[Service]
Type=simple
ExecStart=/usr/bin/acrnd -t
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
