[Unit]
Description=ACRN manager daemon
After=systemd-resolved.service
After=life_mngr.service
ConditionPathExists=/dev/acrn_hsm

[Service]
Type=simple
ExecStart=/usr/bin/acrnd -t
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
