[Unit]
Description=ACRN manager deamon
After=systemd-resolved.service
ConditionPathExists=/dev/acrn_hsm

[Service]
Type=simple
ExecStart=/usr/bin/acrnd -t
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
