/* -- Extra CSS styles for ACRN content (RTD theme) ----------------------- */

/* make the page width fill the window */
.wy-nav-content {
   max-width: 1100px;
}

/* (temporarily) add an under development tagline to the bread crumb
.wy-breadcrumbs::after {
   content: " (Content reorganization in progress)";
   background-color: #FFFACD;
   color: red;
   font-weight: bold;
}
*/

/* pygments tweak for white-on-black console */

.highlight-console .highlight {
   background-color: black;
}
.highlight-console .highlight pre, .highlight-console .highlight .go, .highlight-console .highlight .gp {
   color: white;
}
.highlight-console .highlight .hll {
   background-color: white;
}
.highlight-console .highlight .hll .go, .highlight-console .highlight .hll .gp {
   color: black;
   font-weight: bold;
}

/* :option: link color */
a code span.pre {
   color: #2980b9;
}

/* tweak doc version selection */
.rst-versions {
   position: static;
}

.rst-versions .rst-current-version {
   padding: 5px;
   background-color: #2B978F;
   color: #80FF80;
}

.rst-versions .rst-other-versions {
   padding: 5px;
}

div.rst-other-versions dl {
   margin-bottom: 0;
}

/* code block highlight color in rtd changed to lime green, no no no */

.rst-content tt.literal, .rst-content code.literal, .highlight {
   background: #f0f0f0;
}
.rst-content tt.literal, .rst-content code.literal {
    color: #000000;
}

div.non-compliant-code div.highlight {
   background: #f7d7d7;
}

/* Tweak sidebar colors for ACRN theme */

.wy-side-nav-search {
   background-color: #2B978F;
}

/* Make the version number more visible */
.wy-side-nav-search>div.version {
    color: rgba(255,255,255,1);
}

/* squish the space between a paragraph before a list but not in a note */
div:not(.admonition) > p + ul, div:not(.admonition) > p + ol {
   margin-top: -20px;
}

/* add some space before the figure caption */
p.caption  {
#    border-top: 1px solid;
    margin-top: 1em;
}

/* add a colon after the figure/table number (before the caption) */
span.caption-number::after {
   content: ": ";
}

p.extrafooter {
   text-align: right;
   margin-top: -36px;
}

table.align-center {
   display: table !important;
}

/* put the table caption at the bottom, as done for figures */
table {
   caption-side: bottom;
}


.code-block-caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

/*  make .. hlist:: tables fill the page */
table.hlist {
    width: 95% !important;
}

/*  override rtd theme white-space no-wrap in table heading and content
 *  and top align for content too (not middle)
 */
th,td {
    white-space: normal !important;
    vertical-align: top !important;
}

/* dbk tweak for doxygen-generated API headings (for RTD theme)
   hide the "group" name provided by breathe, but keep the description */
.rst-content dl.group>dt {
   display:none !important;
}
.rst-content dl.group {
  margin: 0 0 12px 0px;
}
.rst-content dl.group>dd {
  margin-left: 0  !important;
}
.rst-content p.breathe-sectiondef-title {
  text-decoration: underline;  /* dbk for API sub-headings */
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.rst-content div.breathe-sectiondef {
  padding-left: 0 !important;
}

/* dbk tweak spacing in breathe api */
.rst-content dt > span.pre {
    padding-right: 6px;
}

/* doxygenXX item color tweaks, light blue background with dark blue top border */
.rst-content dl:not(.docutils) dl dt {
  background: #e7f2fa !important;
  border-top: solid 3px #2980B9 !important;
  border-left: none !important; */
}

/* tweak display of option tables to make first column wider */
col.option {
  width: 25%;
}

/* tweak format for <kbd> (:kbd:`F10`) */
kbd
{
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}

/* home page grid display */

.grid {
    list-style-type: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem auto;
    max-width: calc((250px + 2rem) * 3);
}

.grid-item {
    list-style-type: none !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 200px;
    text-align: center;
    margin: 1rem;
}

.grid-item a {
    display: block;
    width: 200px;
    height: 200px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #c6cbce;
    background-color: #2B978F;
    border-radius: 30px;
    color: white;
}

.grid-item h2 {
    font-size: 1.1rem;
}

.grid-item img {
    /* max-width: 50%;
    max-height: 50%; */
    margin-bottom: 0.7rem;
}


.grid-item a:hover {
    background-color: #51A192;
    color: white;
}


.grid-item p {
    margin-top: 0.5rem;
    font-size: 85%;
    line-height:1.2;
    color: #404040;
}

.grid-icon {
   line-height: 1.8;
   font-size: 4rem;
   color: #114B4F;
}


/* add a class for multi-column support
 * in docs to replace use of .hlist with
 * a .. rst-class:: rst-columns
 */

.rst-columns2 {
   column-width: 28em;
   column-fill: balance;
   margin-bottom: 1em;
}
.rst-columns3, .rst-columns {
   column-width: 18em;
   column-fill: balance;
   margin-bottom: 1em;
}

/* numbered "h2" steps */

body {
   counter-reset: step-count;
}

div.numbered-step h2::before,
section.numbered-step h2::before {
  counter-increment: step-count;
  content: counter(step-count);
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  margin-left: -1.8em;
  text-align: center;
  width: 1.6em;}

/* bold the level1 headings in on-page toctree displays */
.rst-content  .toctree-l1 > a {
  font-weight: bold;
}

/* add icon on external links */
a.reference.external::after {
   font-family: 'FontAwesome';
   font-size: 80%;
   content: " \f08e";
}

/* generic light gray box shadow (for use on images via class directive) */
.drop-shadow {
   box-shadow: 5px 5px 10px #aaaaaa;
}

/* add some space after an image with a shadow style applied */
img.drop-shadow {
   margin-bottom: 2em !important;
}

/* tweak last updated section of footer to be right-aligned */
.lastupdated {
    float:right;
}

/* some custom classes used in rst-class directives */
.centered {
    text-align: center;
}

/* colors from ACRN brand pallet */
.bg-acrn-green {
    background-color: #006368;
    color: white;
}
.bg-acrn-lightgreen {
    background-color: #69BFAD;
}
.bg-acrn-brown {
    background-color: #998265;
    color: white;
}
.bg-acrn-lightbrown {
    background-color: #D7AF96;
}
.bg-acrn-blue {
    background-color: #232256;
    color: white;
}
.bg-acrn-red {
    background-color: #7F0F24;
    color: white;
}
.bg-acrn-gradient {
    background: linear-gradient(135deg, #232256 0%, #69BFAD 100%);
    color: white;
}
.bg-lightyellow {
    background-color: lightyellow;
}
.bg-lightgreen {
    background-color: #D0F0C0; /* tea green */
}
.bg-lavender {
    background-color: lavender;
}
.bg-lightgrey {
    background-color: lightgrey;
}

/* The style in theme.css for tables uses a slightly smaller font size, but was
   only affecting paragraphs where the immediate parent was a th or td tag.  Fix
   this so that all paragraphs within a th or td tag have this style applied.
   (This shows up if you have a table with a bullet list: the bullet list paragraph
   fontsize went back to the default.) */

html.writer-html5 .rst-content table.docutils td p {
   line-height: 1rem;
   margin-bottom: 0;
   font-size: .9rem;
}

/* Simulate look of an option directive on glossary items (particularly used on
 * config option listings so we can use a glossary to sort config options within
 * a section of options*/
div#scenario-configuration-options dl.glossary dt  {
    display: table;
    margin: 6px 10px;
    font-weight: bold;
    color: #000;
    line-height: normal;
    background: #e7f2fa;
    color: #2980b9;
    border-top: 3px solid #6ab0de;
    padding: 6px;
    position: relative;
}
div#scenario-configuration-options dl.glossary dt  {
   float: left;
   clear: left;
}
div#scenario-configuration-options dl.glossary dd>p  {
   padding-top: 12px;
   line-height: normal;
   clear: right;
}
div#scenario-configuration-options dl.glossary dd ul  {
   clear: both;
}
