[Unit]
Description=ACRN lifemngr daemon
After=systemd-resolved.service

[Service]
Type=simple
ExecStart=/usr/share/acrn-lifemngr/start-acrn-lifemngr.sh
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
