choice
	prompt "Platform"
	default PLATFORM_SBL

config PLATFORM_UEFI
	bool "UEFI"
	select EFI_STUB

config PLATFORM_SBL
	bool "SBL"

endchoice

choice
	prompt "Hypervisor mode"
	default SHARING_MODE

config SHARING_MODE
	bool "Sharing mode"

config PARTITION_MODE
	bool "Partition mode"
	depends on PLATFORM_SBL
endchoice

config PLATFORM
	string
	default "uefi" if PLATFORM_UEFI
	default "sbl" if PLATFORM_SBL

config RELEASE
	bool "Release build"
	default n

config MAX_VM_NUM
	int "Maximum number of VM"
	range 1 8
	default 4

config MAX_VCPUS_PER_VM
	int "Maximum number of VCPUS per VM"
	range 1 8
	default 4

config NR_IOAPICS
	int "Maximum number of IOAPICs supported"
	range 1 2
	default 1

config MAX_IOMMU_NUM
	int "Maximum number of iommu dev"
	range 1 2
	default 2

config STACK_SIZE
	hex "Capacity of each stack used in the hypervisor"
	default 0x2000

config LOG_BUF_SIZE
	hex "Capacity of logbuf"
	default 0x100000

config LOG_DESTINATION
	int "Bitmap of consoles where logs are printed"
	range 0 7
	default 7
	help
	A bitmap indicating the destinations of log messages. Currently there
	are 3 destinations available. Bit 0 represents the serial console, bit
	1 the SOS ACRN log and bit 2 NPK log.

config CPU_UP_TIMEOUT
	int "Timeout in ms when bringing up secondary CPUs"
	range 100 200
	default 100
	help
	A 32-bit integer specifying the timeout in microsecond when waiting for
	secondary CPUs to start up.

choice
	prompt "serial IO type"
	default SERIAL_MMIO if PLATFORM_SBL
	default SERIAL_PIO  if PLATFORM_UEFI

config SERIAL_MMIO
	bool "MMIO"

config SERIAL_PIO
	bool "PIO"

endchoice

config SERIAL_MMIO_BASE
	hex "Base address of serial MMIO region"
	depends on SERIAL_MMIO
	default 0xfc000000
	help
	A 64-bit integer indicating the base physical address of the
	memory-mapped UART registers.

config SERIAL_PIO_BASE
	hex "Base address of serial PIO region"
	depends on SERIAL_PIO
	default 0x3f8
	help
	The base of the UART ports. This is logically 16-bit but used as a
	64-bit integer.

config MALLOC_ALIGN
	int "Block size in the heap for malloc()"
	range 8 32
	default 16

config NUM_ALLOC_PAGES
	hex "Capacity in pages of the heap for page_alloc()"
	default 0x1000

config HEAP_SIZE
	hex "Capacity of the heap for malloc()"
	default 0x100000

config CONSOLE_LOGLEVEL_DEFAULT
	int "Default loglevel on the serial console"
	range 0 6
	default 3

config MEM_LOGLEVEL_DEFAULT
	int "Default loglevel in memory"
	range 0 6
	default 5

config NPK_LOGLEVEL_DEFAULT
	int "Default loglevel for the hypervisor NPK log"
	range 0 6
	default 5

config LOW_RAM_SIZE
	hex "Size of the low RAM region"
	default 0x00010000
	help
	A 32-bit integer indicating the size of RAM region below address
	0x10000, starting from address 0x0.

config RAM_START
	hex "Address of the RAM region assigned to the hypervisor"
	default 0x6e000000 if PLATFORM_SBL
	default 0x00100000 if PLATFORM_UEFI
	help
	A 64-bit integer indicating the base address to where the hypervisor
	should be loaded to. If RELOC is disabled the bootloader is required to
	load the hypervisor to this specific address. Otherwise the hypervisor
	will not boot.With RELOC enabled the hypervisor is capable of relocating
	its symbols to where it is placed at, and thus the bootloader may not
	place the hypervisor at this specific address.

config RAM_SIZE
	hex "Size of the RAM region assigned to the hypervisor"
	default 0x02000000
	help
	A 64-bit integer indicating the size of RAM assigned to the
	hypervisor. It is ensured at link time that the footprint of the
	hypervisor does not exceed this size.

config CONSTANT_ACPI
	bool "The platform ACPI info is constant"
	default n

config DMAR_PARSE_ENABLED
	bool
	default n if PLATFORM_SBL
	default y if PLATFORM_UEFI

config GPU_SBDF
	hex
	depends on DMAR_PARSE_ENABLED
	default 0x00000010
	help
	A 32-bit integer encoding the segment, bus, device and function of the
	GPU.

config EFI_STUB
	bool
	depends on PLATFORM_UEFI
	default y

config UEFI_OS_LOADER_NAME
	string "UEFI OS loader name"
	depends on PLATFORM_UEFI
	default "\\EFI\\org.clearlinux\\bootloaderx64.efi"

config MTRR_ENABLED
	bool
	default y

config RELOC
	bool "Enable relocation"
	default n

config IOMMU_INIT_BUS_LIMIT
	hex "bus limitation when iommu init"
	default 0xf if PLATFORM_SBL
	default 0xff if PLATFORM_UEFI
