[Unit]
Description=cbc attach
DefaultDependencies=no
After=sysinit.target local.target
Before=basic.target

[Service]
ExecStart=/usr/bin/cbc_attach /dev/ttyS2
Restart=no
Type=simple

[Install]
WantedBy=basic.target
