a {
    /* Browse for folder… */
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #2A958D;
    text-decoration: auto;
}

@media (min-width: 576px) {
    .border-end-sm {
        border-right: 1px solid #dee2e6 !important;
    }
}

.btn-lg {
    min-height: 50px;
    border-radius: 30px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.btn-primary {
    background-color: #007B81;
    border-color: #007B81;
}

.btn-primary:hover {
    background-color: #004B50;
    border-color: #004B50;
}

select {
    height: 49px;
    background-image: url("assets/images/dropdown_arrow.svg") !important;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

select:focus {
    border: 1px solid #69BFAD;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(105, 191, 173, 0.37);
    border-radius: 5px;
}


.banner-text {
    max-width: 594px;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: -0.175px;

    color: #FFFFFF;
}

.bg-gray {
    background: #F5F5F5;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
}

.descInfoBtn {
    color: gray;
}

.descInfoBtn:hover {
    color: lightgray;
}

.rst-paragraph:last-child{
    margin-bottom: 0;
}