[Unit]
Description=Start ACRN UOS
After=acrnprobe.service
After=weston.service
After=systemd-resolved.service

ConditionPathExists=/sys/kernel/gvt
ConditionPathExists=/dev/acrn_vhm 

[Service]
Type=simple
RemainAfterExit=false
ExecStart=/bin/sh /usr/share/acrn/samples/apl-mrb/launch_uos.sh -V 6

[Install]
WantedBy=multi-user.target
