// global
$primary: #007B81;

// grid padding
$grid-gutter-width: 0;

// a
$link-decoration: auto;
$link-shade-percentage: 39%;

// text box fontsize
$input-font-size-lg: 1rem;


@import "bootstrap/scss/bootstrap";
@import 'bootstrap-vue-3/dist/bootstrap-vue-3.css';


.accordion-button {
  box-shadow: none;
  display: flex;
  align-items: baseline;

  &:not(.collapsed) {
    background-color: #fff;
    box-shadow: none;

    &::before {
      background-image: url("/src/assets/images/dropdown_arrow.svg");
      color: #69BFAD;
      transform: rotate(0deg);
      margin-top: 9px;
    }

    &::after {
      display: none;
    }
  }

  // Accordion icon
  &::before {
    flex-shrink: 0;
    width: $accordion-icon-width;
    height: $accordion-icon-width;
    content: "";
    background-image: url("/src/assets/images/dropdown_arrow.svg");
    background-repeat: no-repeat;
    background-size: $accordion-icon-width;
    margin: 8px 0 0 5px;
    transform: rotate(-90deg);
    @include transition($accordion-icon-transition);
  }

  &::after {
    display: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.text-pre-line {
  white-space: pre-line;
}

.btn.btn-outline-primary {
  color: #007B81;
  border-color: #007B81;
  background-color: white;
}

.btn-outline-primary:hover {
  color: #004B50;
  border-color: #004B50;
  background-color: white;
}

.btn-close-white {
  opacity: 1;
  filter: none;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5195 8.99331L17.4644 3.04835C18.1607 2.3521 18.1607 1.21845 17.4644 0.522192C16.7682 -0.174064 15.6345 -0.174064 14.9383 0.522192L8.99331 6.46715L3.04835 0.531118C2.3521 -0.165138 1.21845 -0.165138 0.522192 0.531118C-0.174064 1.22737 -0.174064 2.36102 0.522192 3.05728L6.46715 9.00223L0.522192 14.9472C-0.174064 15.6434 -0.174064 16.7771 0.522192 17.4733C0.87032 17.8215 1.32556 18 1.78081 18C2.23605 18 2.6913 17.8215 3.03942 17.4733L8.98438 11.5284L14.9293 17.4733C15.2775 17.8215 15.7327 18 16.1879 18C16.6432 18 17.0984 17.8215 17.4466 17.4733C18.1428 16.7771 18.1428 15.6434 17.4466 14.9472L11.5195 8.99331Z' fill='white'/%3E%3C/svg%3E%0A");
}

@import "vfonts/Roboto.css";

a {
  /* Browse for folder… */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #2A958D;
  text-decoration: auto;
}

@media (min-width: 576px) {
  .border-end-sm {
    border-right: 1px solid #dee2e6 !important;
  }
}

.btn-lg {
  min-height: 50px;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
}

.btn-primary {
  background-color: #007B81;
  border-color: #007B81;
}

.btn-primary:hover {
  background-color: #004B50;
  border-color: #004B50;
}

select {
  height: 49px;
  background-image: url("/src/assets/images/dropdown_arrow.svg") !important;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

select:focus {
  border: 1px solid #69BFAD;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(105, 191, 173, 0.37);
  border-radius: 5px;
}


.banner-text {
  max-width: 594px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.175px;

  color: #FFFFFF;
}

.bg-gray {
  background: #F5F5F5;
}

.text-right {
  text-align: right;
}

table {
  width: 100%;
}

.descInfoBtn {
  color: gray;
}

.descInfoBtn:hover {
  color: lightgray;
}

.rst-paragraph:last-child {
  margin-bottom: 0;
}

*{
  font-family: Roboto !important;
}
