[Unit]
Description=ACRN usercrash Demon
Requires=telemd.socket
After=telemd.service
Before=acrnprobe.service

[Service]
Type=simple
ExecStart=/usr/bin/usercrash_s

[Install]
WantedBy=multi-user.target
